html{
    font-family: sans-serif;
    background-image:url(../images/bats.gif);

   
}


header
{
border-bottom: .5em solid #000000;
padding-top: 1em;
padding-bottom: .5em;
    background-image:image(flying_bats.jpg);
background-image:linear-gradient(45deg, #ffffff 5%, #ff9900 38%, #ff9900 60%, #ff9900 75%, #000000 100%);
   
}

header h2 {
    font-style: normal;
    margin-left: 4em;
}


body{
   
    font-family: Verdana, Arial, Helvetica, sans-serif;
   width:95%;
    max-width: 960px;
background-color: white;
margin:  auto !important;
padding: 0;
border: .1em solid black;
box-shadow:  1em 1em 2em black;
}

    h1{
   
    ::first-letter;
    font-size: 120%;
    color:black;
}


h1::first-letter{
    font-size:175%;
}

header h3
{
 text-indent: 1em;
    font-size:110%;
    text-align: left center;
    position: inherit;
   left: 5em;
}

    h2
{
    font-size: 160%;
     text-shadow:black;
}

h4{
    font-size: 98%;
}

header img
    {
        float:left;
        min-width:40px;
    }


footer
{
      border-bottom: 1em solid #000000;
padding-top: 1em;
padding-bottom: 1em;
background-image:linear-gradient(45deg, #000000 5%, #ff9900 38%, #ff9900 60%, #ff9900 75%, #ffffff 100%);
}
footer p {
    font-size: 75%;
    text-align: center !important;
}



#container{
    display:flex;
}

element.style {
}
.left-nav {
    width: 160px;
    margin-right: 3em;
}
.left-nav a {
    color:black;
    padding:0 1em;
    background-color: orange;
    text-decoration: none;
    display: inline-block;
    width: 80%;
    border: .2em solid black !important;
    font-weight:bold;
    margin-top:1em;
}


.left-nav ul{
    list-style-type:none;
}

main {
clear: left;
}



.productionofweek a {
    color: orange;
}

.productionofweek img{
    min-width: 40px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}


.page-data {
    padding: .1em .2em .1em .2em;
}

#top-nav {
	background: #000;
}
#top-nav ul {
	padding: 0;
	margin:0;
	list-style: none;
	position: relative;z-index:1;		
}
#top-nav ul li {	
	display: inline;
	float: left;
	padding: 0;
	width: 20%; 
}
#top-nav .current-page {
	color:orange;
}
#top-nav a {	
	display:block; 				
	text-align:center; 
	padding-top: 1em 0 1em 0; 
	text-decoration:none; 
	background-color:black; 
	color:white; 
	font-weight:bold;
		
} 
#top-nav a:hover{
	background-color:darkgrey;
}
#top-nav ul ul{	
	display: none;
	position:absolute;
	width:inherit;
	float:left;
}
#top-nav  ul ul li {
	float:none;
}
#top-nav ul li:hover ul {
	display: block;
}
#top-nav  ul::after {
	content: "";
	display: block;
	clear: both; 
}

